.document_title
{
	color: black;
	font-family: verdana;
	font-size: 200%;
  	font-weight: bold;
  	text-align: center;
  	padding:10px;
  	margin:30px;
}

figure
{
    margin:0; 
    display:block
    padding:0;
}

img
{
	width: 1200px;
}

.cover
{
    object-fit: cover; 
}